.w {
    width: 1200px;
    margin: 0 auto;
}
a:hover {
    color: #586AEA;
}
body {
    background: #fff;
    font-size: 16px;
}

.header-nav {
    height: 70px;
}
.hn-left a,.hn-left h1 {
    float: left;
    height: 70px;
    line-height: 70px;
}
.hn-left a {
    width: 40px;
    text-align: center;
}
.hn-left h1 {
    color: #586AEA;
}

.hn-left a:hover{
    border-bottom: 2px solid #586AEA;
    font-size: 16px;
}

.first-page {
    margin: 0 70px 0 100px;
}
.hn-right div{
    position: relative;
}
.hn-right input {
    width: 300px;
    height: 36px;
    outline: none;
    border: 1px solid #E6E6E6;
    margin-right: 100px;
}
.hn-right button {
    width: 36px;
    height: 36px;
    border: 0;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
}
.hn-right p {
    width: 56px;
    position: absolute;
    top: 0;
    left: 0;
}

.hn-right div, .hn-right a {
    float: right;
}
.hn-right a {
    margin-top: 22px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}

.hn-right .reg {
    width: 58px;
    border: 1px solid #586AEA;
    border-radius: 20px;
    margin-left: 12px;
    
}