body {
    font-size: 16px;
    height: 3000px;
}


.banner {
    width: 1366px;
    height: 397px;
    margin: 0 auto 20px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
}

.main-nav dt,.main-nav dd {
    float: left;
    margin-right: 20px;
    color: #999;
    font-weight: 500;
}

.mid1 dt, .mid1 dd ,.mid2 dt, .mid2 dd,.bottom dd{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px 10px 2px;
    margin-bottom: 20px;
}
.mid1 dt,.mid2 dt {
    background-color: #586AEA;
    color: #fff;
}


.mid1, .mid2 {
    border-top: 1px solid #F0F0F0;
    padding: 20px 0 0 20px;
}
.mid1 {
    margin-top: 10px;
}

.mid2 {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 20px;
}

.bottom dt {
    font-size: 18px;
    font-family: "黑体";
    color: #333;
    padding-top: 4px;
}

.inter-question h3{
    width: 396px;
    height: 24px;
    background-image: url(../images/child-title.png);
    margin: 30px auto 0;
    text-align: center;
    color: #586AEA;
}

.inter-question h4 {

}

.inter-question li {
    width: 400px;
    height: 200px;
}